.score {
  p {
    font-size: 24px;
    font-family: "Pangolin", cursive;
  }
}

@keyframes strobe {
  0%{
    background-color: #99ff99;
  }
  50% {
    background-color: #FFF;
  }
  100%{
    background-color: #99ff99;
  }
}