.cellHover {
    position: absolute;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: 'Pangolin', cursive;
    background-color: gray;
}