.randomJokes {
  border: 1px solid black;
  position: absolute;
  bottom: -500px;
  right: -140px;
  font-family: "Pangolin", cursive;
  font-size: 24px;
  min-height: 130px;
  max-height: 400px;
  min-width: 250px;
  max-width: 250px;
  padding: 5px;
}
