.scoreBoard {
    border: 5px solid black;
    width: 800px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-color: gold;
    z-index: 1;
}